@font-face {
    font-family: svn-gilroy;
    src: url(../font/svn-gilroy-medium.otf);
}

@font-face {
    font-family: svn-gilroy;
    src: url(../font/svn-gilroy-bold.otf);
    font-weight: bold;
}


/* dung * de apply cho tat ca cac elements*/

* {
    font-family: svn-gilroy, Helvetica, sans-serif;
}

h1 {
    font-size: 64px;
    font-style: normal;
}

h2 {
    color: #828282;
    font-size: 36px;
    font-family: SVN-Gilroy;
    font-weight: bold;
    line-height: 40px;
    font-style: normal;
}

.grey {
    color: #828282;
}

.tag {
    color: #EB5757;
}

 ::selection {
    background-color: aquamarine;
}

.send {
    background-color: black;
    color: white;
}

.send:hover {
    background-color: grey;
}

.center {
    text-align: center;
}

.header {
    text-align: right;
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(58, 58, 250);
    text-decoration: underline;
}

a:active {
    color: green;
}


/* link trong phan header giu nguyen mau trang*/

.header a {
    color: white
}

body {
    font-size: 100%;
}